[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
werkzeug = "*"
itsdangerous = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
mock = "*"
setuptools = "*"
wheel = "*"
twine = "*"
freezegun = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
